<div *ngIf="movieSelected">
    <div class="row">
        <div class="col-auto">
            <div class = "movie-poster">
                <img src = {{image}} alt = "movie poster">
            </div>
        </div>
        
        <div class="movie-detail">
            <h2>{{movieSelected.Title}}</h2>
            <br>
            <p><b>Año: </b>{{movieSelected.Year}}</p>
            <p><b>Idiomas: </b>{{movieSelected.Language}}</p>
            <p><b>Duración: </b>{{movieSelected.Runtime}}</p>
            <p><b>Director: </b>{{movieSelected.Director}}</p>
            <p><b>Género: </b>{{movieSelected.Genre}}</p>
            <br>
            <p><b>Puntuación: </b>{{movieSelected.imdbRating + '/10  (' + movieSelected.imdbVotes + ' votos)'}}</p>
            <p><b>Premios/Nominaciones: </b>{{movieSelected.Awards == 'N/A'? '-': movieSelected.Awards}}</p>
        </div>
    </div>
    <div class="row">
        <br>
        <h3>Descripción:</h3>
        <p>{{movieSelected.Plot}}</p>
    </div>
</div>
<div class="center" *ngIf="!movieSelected">
    <img src="https://i.gifer.com/origin/34/34338d26023e5515f6cc8969aa027bca_w200.gif" width="70">
    <p>Obteniendo información...</p>
</div>


