$custom-blue: #2e3155;
$custom-blue-dark: #0095db;
$orange: #f5943d;
$white: #ffffff;
$orange-transparent: #ec67022a;
$grey: #ededed;
$custom-brown: #2d1e1c;
$custom-yellow: #ffdd00;
$custom-red: #e4001f;
$custom-green: #009d3c;
$custom-purple: #910041;
$warning-red: #dc3545;

$background-color: #f6f6f6;
$shadow-color: rgb(34 41 47 / 10%);
$text-color: #6e6b7b;

$table-header-color: rgb(243, 242, 247);
$table-split-color: #ebe9f1;

//Paddings
$box-padding: 8rem;

//Radius
$radius: 2rem;

